
<!DOCTYPE html>
<htlml>
    <head>
     <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <h1>error :: {{errormsg}}</h1>
        {{>footer}}
    </body>
</htlml>