
<!DOCTYPE html>
<htlml>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weatherlogo.jpg">
     <link rel="stylesheet" href="/css/style.css">
     <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{name}} <br>
         National Institute of Technology, Kurukshetra
         <br>Information Technology<br>Using node js</p>
        <img class="portrait" src="/img/profile.jpeg">
        </div>
        {{>footer}}
    </body>
</htlml>