<!DOCTYPE html>
<htlml>
    <head>
        <title>help</title>
     <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p> this is help page {{helpText}} <br>
         It uses two API : Weather stack and Mapbox  </p>
        </div>
        {{>footer}}

    </body>
</htlml>