<!DOCTYPE html>
<htlml>
    <head>
        <title>home</title>
        <link rel="icon" href="public/img/weatherlogo.jpg">
     <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>ENTER LOCATION HERE !</p>
        <form>
            <input placeholder='location'/>
            <button type="submit">search</button>
        </form>
        <p id="message-1"> </p>
        <p id="message-2">  </p>
        </div>
        {{>footer}}
<script src="/js/app.js"></script>
    </body>
</htlml>
