body{
    color :Silver ;
    font-family : Arial, Helvetica, sans-serif;  
  text-align: center;
  padding : 0px 16px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background-image: url('../img/weather-app_bg.jpeg');
}
.main-content{
    flex-grow: 1;
}
footer{
    color: #888888;
    bottom: 0;
    left: 0;
    width : 100%;
    position: fixed;
    margin-top: 160px;
    padding: 16px 0px;
    border-top: 2px solid #eeeeee ;
    align-items: flex-end;
    background-color: #cccccc;
}
header{
    margin-top : 12px;
    margin-bottom: 48px;
   position: sticky;
   color: aquamarine;
}
h1{
 margin-bottom:16px;
 font-size: 64px;   
}
header a {
    text-decoration: none;
    color: #BDB76B;
    margin-right: 16px;
}
.portrait{
    width:250px;
}
input{
   border : 1px solid #cccccc;
   padding : 8px;   
}
button{
    cursor: pointer;
    background : #888888 ;
    padding : 8px;
    border : 1px solid #888888;
    color : white;   
}
#message-1{
    color :silver;
    font-size: larger;
}
#message-2{
    font-size : 32px;
    color : Gainsboro;
}
@media all and (max-width : 550)
{
    body{
        color :Silver ;
        font-family : Arial, Helvetica, sans-serif;  
      text-align: center;
      padding : 0px 16px;
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      background-image: url('../img/weather-app_bg.jpeg');
    }
          
}